.SideDrawer {
    position: fixed;
    width: 200px;
    max-width: 70%;
    height: 100%;
    padding: 32px 16px;
    box-sizing: border-box;
    z-index: 200;
    background-color: white;
    left: 0;
    top: 0;
    transition:0.3s
  }
  
  .MenuItems ul {
    margin-left: 20px;
    padding: 0;
  }
  
  .MenuItems ul li {
    font-size: 18px;
    color: grey;
    font-weight: 100;
    list-style-type: none;
    padding: 20px 0px;
  }

  @media (min-width: 500px) {
    .SideDrawer {
      display: none;
    }

    .MenuItems ul {
      padding: 0;
    }
  }
  
  .Open {
    transform: translateX(0);
  }
  
  .Close {
    transform: translateX(-100%);
  }
  
  
  